@font-face {
    font-family: 'Avenir LT Std';
    src: local('Avenir LT Std 95 Black'), local('AvenirLTStd-Black'),
        url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: local('Avenir LT Std 55 Roman'), local('AvenirLTStd-Roman'),
        url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Gotham Pro';
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url("../fonts/GothamPro-Medium.woff") format('woff');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Gotham Pro';
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('../fonts/GothamPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

