@import url(./header.css);
@import url(./footer.css);
@import url(./about.css);
@import url(./program.css);
@import url(./gallery.css);
@import url(./testimonials.css);
@import url(./contact.css);
@import url(./modal.css);


:root{
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0C8;
    --accent-color: #FFA55C;
    
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px
}



body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.wrapper{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.main{
    flex-grow: 1;
}


.main__about {
    padding: 140px 0px;
}

.main__program {
    padding-bottom: 145px;
}

.main__gallery {
    padding-bottom: 140px;
    }

 .main__testimonials {
    padding-bottom: 140px;;
}
.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal{
    /* overflow: hidden; */
}

.container{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title{
    font-family: "Gabriola";
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 60px;
    font-weight: 500;
    line-height: 1.6;
    font-size: 16px;
    padding: 0px 15px;
    line-height: 62px;
    transition: all 1s;
    width: 100%;
}

.button:hover{
    background-color: #FF9138;
}

@media (max-width: 1200px) {
    .hero__img {
        margin-right: 0px;
        max-width: 377px;
    }

    .hero__img-control {
        display: flex;
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    .hero__img-control.hero__img-control--mobile{
        display: none;
    }

    /* -------program------- */

    .program__top {
        flex-direction: column;
        align-items: stretch;
        gap: 25px 15px;
        margin-bottom: 60px;
    }



    /* -------concact-------- */

    .contact__inner::after{
        top: -20%;
    }
    


    
    /* ------footer------- */

    .footer__inner {
        display: grid;
        gap:  40px 15px;
        justify-content: space-between;
        grid-template-columns: repeat(3, auto);
    }

    .footer__col:last-child{
        text-align: center;
        grid-column: 1/-1;
    }

    
}

@media (max-width: 1100px){

    /* -----about----- */
    .about__img {
        display: grid;
        grid-row: auto;
        
    }
    
    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1 / -1;
    }

    /* -----program----- */


    .accordion-list__control {
        padding: 25px 30px;
    }

    .accordion-list__control-title {
        font-size: 35px;
        line-height: 90%;
    }

    .accordion-content {
        gap: 30px;
    }

    /* -----gallery------- */

    .gallery__inner {
        grid-template-columns: none
    }

    .gallery__info {
        max-width: none
    }

    .gallery__img {
        display: none;
    }

    /* -------contact------- */

    .contact__inner {
        align-items: center;
        gap: 30px;
    }

    
}


@media (max-width: 900px) {
    .nav {
        position: fixed; 
        inset: 0;  
        z-index: 2; 
        background-color: var(--general-bg);
        padding: 200px 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-icon{
        display: flex; 
      
    }

    .body--opened-menu .nav{
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    /* ------progran------ */

    .program__bottom {
        display: block
     
    }

    .program__img{
        display: none;
     }

     

     .program__action {
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
        justify-items: center;
    }


    /* ------contact------- */

    
.contact__inner {
   justify-content: center;
}


    .contact__img{
        display: none;
    }

    /* --------footer------- */

    .footer__inner {
        grid-template-columns: none;
        justify-content: center;
        text-align: center;
        gap: 0px;
    }

    .footer__col:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }

    .footer__col:nth-child(3){
        margin-top: 40px;
        margin-bottom: 10px;
    }

    /* -----testimonials------- */

    .testimonials__scrollbar.swiper-scrollbar {
        width: 50%;
        margin: 0 auto;
    }
    
}

@media (max-width: 800px){

    /* -------hero------ */

    html{
        scroll-padding-top: 50px
    }



    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img > img{
        display: none;
    }
    .hero__img-control.hero__img-control--mobile{
        display: flex;
        margin: 0 0 30px;
    }

    .hero__img-control{
        display: none;
    }

    /* -----about------ */

    .about__inner {
        display: grid;
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }
    
    .about__body {
        text-align: center; 
    }

    .about__grid{
        grid-template: none;
    }

    /* ------program--------- */

    .tab-controls {
        flex-wrap: wrap;
        gap:  10px;
        
    }

    .tab-controls__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child{
        max-width: none;
    }

 
    .accordion-content__text {
        max-width:  none;
    }

    /* ------testimomials-------- */

    .testimonials__inner {
        flex-direction: column;
        align-items: start
    }

    .testimonials__nav {
        align-self: end;
    }

    /* ---------contact--------- */

    .contact__inner::before{
        content: none;
    }
    
}

@media (max-width: 600px){

    .main__about {
        padding: 60px 0px 80px;
    }

    /* -----hero------ */

    .title{
        font-size: 13vw;
    }

    .hero{
        padding-bottom: 80px;
    }

    /* ------about------ */

    .about__img-control {
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-radius: 0px;
        padding: 10px 15px;
        max-width: none;
    }

    .about__grid {
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;
    }

    /* ------program------- */

    .program__top {
        margin-bottom: 20px;
    }

    .program__title {
        text-align: center;
    }
    
    .program__text {
        text-align: center;
    }

    .tab-controls {
        justify-content: center;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        padding: 17px 30px;
    }

    .accordion-list__control-title {
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px

    }

    .accordion-list__control-icon svg {
        width: 10px;

    }

    .main__program {
        padding-bottom: 80px;
    }

    .program__action {
        grid: none;
    }

    /* -----gallery------ */

    .main__gallery {
        padding-bottom: 80px;
        }

    .gallery__inner {
        margin-bottom: 15px;
    }

    .gallery__content {
        flex-direction: column;
    }

    /* ---------testimonials--------- */

    .main__testimonials{
        padding-bottom: 80px;
    }

    .testimonials__inner{
        margin-bottom: 20px;
    }

    .testimonials__slide {
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    /* ------contact------- */

    .contact {
   padding-bottom: 80px;
    }

    .contact__title, .contact__text  {
      text-align: center;
    }
    
    
}

@media (max-width: 450px){

    .modal__window {
        
        padding: 0px 15px 30px;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__img {
        margin: -45px 0px 15px 13px;
        max-width: 50%;
    }

    /* -------program------ */

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0px 17px 15px;
    }

    .accordion-content__item{
        margin-bottom: 10px;
    }

    /* -------testimonials------- */

    .testimonials__slide {
        padding: 30px 10px 30px;
        
        }





}


