
.testimomials {
}

.testimonials__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 30px;
}
.testimonials__info {
    max-width: 632px;
}
.testimonials__title {
    margin-bottom: 20px;
}

.testimonials__nav {
    display: flex;
    gap: 30px;
}
.testimonials__prev, 
.testimonials__next {
    background: transparent;
    cursor: pointer;
    border: 1.5px solid var(--accent-color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
   flex-shrink: 0;
}

.testimonials__prev.swiper-button-disabled, 
.testimonials__next.swiper-button-disabled{
    border: 1.5px solid #E1D9E1;
    cursor: auto;
}

.testimonials__prev.swiper-button-disabled path, 
.testimonials__next.swiper-button-disabled path{
    fill: #E1D9E1;
}

.testimonials__prev:hover.swiper-button-disabled, 
.testimonials__next:hover.swiper-button-disabled{
    background-color: transparent;
}

.testimonials__prev:hover.swiper-button-disabled path, 
.testimonials__next:hover.swiper-button-disabled path{
    fill: #E1D9E1;
}



.testimonials__prev path, 
.testimonials__next path {
    transition: all 1s;
}

.testimonials__prev:hover, 
.testimonials__next:hover {
    background-color: var(--accent-color);
}

.testimonials__prev:hover path, 
.testimonials__next:hover path {
    fill: var(--general-bg);
}
.testimonials__next {
}
.testimonials__slider{
    overflow: visible

}

.testimonials__wrapper {
    margin-bottom: 44px;
    
}

.testimonials__slide {
    display: flex;
    gap: 34px;
    background-color: var(--accent-bg);
    border-radius: 20px;
    padding: 30px 30px 60px;
    opacity: 0; 
    transition: all 1s;
    height: auto;
 
}


.swiper-slide-prev.testimonials__slide,
.swiper-slide-next.testimonials__slide
{
    opacity: 0.5;

}

.swiper-slide.testimonials__slide{
    transform: scale(0.9);
}

.swiper-slide-active.testimonials__slide{
    transform: scale(1);
    opacity: 1;
}

.testimonials__student {
    max-width: 165px;
    text-align: center;
    flex-shrink: 0;
}
.testimonials__student-img {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.testimonials__student-img img {
    
    width: 100%;
}
.testimonails__student-name {
    color: #1F1711;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 1.6;
}
.testimonails__student-inst {
  color: #CEAAD0;
  line-height: 1.6;
}

.testimonails__quote {
}

.testimonails__quote span {
    display: block;
    font-family: "Gabriola";
    font-weight: 400;
    font-size: 32px;
    line-height: 90%;
    margin-bottom: 10px;
}

.testimonials__scrollbar.swiper-scrollbar {
    position: static;
    background-color: var(--accent-bg);
    height: 7px;
}

.testimonials__scrollbar .swiper-scrollbar-drag{
    background-color: var(--accent-color);
}
